---
import { getCollection, render, type CollectionEntry } from "astro:content";
import RootLayout from "../../layouts/RootLayout.astro";
import ShareButtons from "../../components/ui/share-buttons.astro";
import Lightbox from "../../components/lightbox.astro";
import RelatedPosts from "../../components/blocks/related-posts.astro";
import BlogHeader from "../../components/ui/blog-header.astro";
import BlogContent from "../../components/ui/blog-content.astro";
import BlogCTA from "../../components/ui/blog-cta.astro";
import BackButton from "../../components/ui/back-button.astro";
import YoutubeEmbed from "../../components/ui/youtube-embed.astro";
import { getRelatedPosts } from "../../lib/get-related-posts";
import { buildSEO } from "../../lib/build-seo";
import { buildBlogPostSchema } from "../../lib/build-schema";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const posts = await getCollection("blog");

const { Content } = await render(post);
const relatedPosts = getRelatedPosts(post, posts);

const site = Astro.site;
const canonical = new URL(`/blog/${post.id}`, site).toString();
const image = new URL(
  `https://img.youtube.com/vi/${post.data.youtubeId}/maxresdefault.jpg`,
).toString();

const seo = await buildSEO({
  title: post.data.title,
  description: post.data.excerpt,
  image,
  canonical,
});

const schema = await buildBlogPostSchema({
  title: post?.data.title,
  description: post?.data.excerpt,
  publishedTime: post?.data.publishedAt,
  image: image,
  slug: post?.id,
});
---

<RootLayout seo={seo} schema={schema}>
  <div class="bg-background min-h-screen">
    <article class="mx-auto max-w-4xl px-6 py-12">
      <BackButton label="Back to Articles" href="/" />

      <BlogHeader post={post} />

      <YoutubeEmbed id={post.data.youtubeId} title={post.data.title} />

      <BlogContent>
        <Content />
      </BlogContent>

      <BlogCTA
        title="Enjoyed this article?"
        subtitle="Subscribe to my YouTube channel for more content like this"
        label="Subscribe on YouTube"
        href="https://youtube.com/"
      />

      <ShareButtons title={post.data.title} url={canonical} />

      <RelatedPosts title="Related Articles" posts={relatedPosts} />
    </article>
  </div>
  <Lightbox />
</RootLayout>
