---
import ArticleList from "../../components/blocks/article-list.astro";
import TagsSelector from "../../components/blocks/tags-selector.astro";
import PageHeader from "../../components/ui/page-header.astro";
import RootLayout from "../../layouts/RootLayout.astro";
import { buildSEO } from "../../lib/build-seo";
import { getPosts } from "../../lib/get-posts";
import { getTags } from "../../lib/get-tags";

export async function getStaticPaths() {
    const tags = getTags();

    return tags.map((tag) => ({
        params: { slug: tag },
    }));
}

const { slug: currentTag } = Astro.params;

const tags = getTags();
const posts = getPosts();
const filteredPosts = posts
    .filter((post) => post.data.tags.includes(currentTag))
    .sort(
        (a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf(),
    );
const seo = buildSEO({ title: "Articles" });
---

<RootLayout seo={seo}>
    <div class="mx-auto max-w-5xl px-6 py-12">
        <PageHeader title={`Articles Taggeg "${currentTag}"`} />

        {currentTag && <TagsSelector allTags={tags} currentTag={currentTag} />}

        {filteredPosts && <ArticleList posts={filteredPosts} />}
    </div>
</RootLayout>
