---
import slugify from "slugify";
import { Icon } from "astro-icon/components";
import AuthorCard from "./author-card.astro";
import { formatDate } from "../../lib/format-date";

const { post } = Astro.props;
---

<header class="mb-8">
  <div class="mb-4 flex flex-wrap gap-2">
    {
      post.data.tags.map((tag: string) => {
        const href = `/tags/${slugify(tag, { lower: true, strict: true })}`;

        return (
          <a
            href={href}
            class="bg-muted text-muted-foreground flex items-center gap-1 rounded-full px-3 py-1 text-sm"
          >
            <Icon name="lucide:tag" class="h-3 w-3" />
            {tag}
          </a>
        );
      })
    }
  </div>

  <h1 class="mb-6 leading-tight">{post.data.title}</h1>

  <div
    class="text-muted-foreground border-border flex flex-wrap items-center gap-6 border-b pb-6"
  >
    <AuthorCard author={post.data.author} />
    <div class="flex items-center gap-1">
      <Icon name="lucide:calendar" class="h-4 w-4" />
      <time>{formatDate(post.data.publishedAt)}</time>
    </div>
  </div>
</header>
